{% extends 'base.html' %}

{% block main_content %}

<a href="/rate/create">Create Rate</a>
<br>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Buy</th>
    <th>Sale</th>
    <th>Created</th>
    <th>Source</th>
    <th>Type</th>
    <th>Rate Details</th>
    <th>Rate Update</th>
    <th>Rate Delete</th>
{% for rate in rate_list %}
  <tr>
    <td>{{ rate.id }}</td>
    <td>{{ rate.buy }}</td>
    <td>{{ rate.sale }}</td>
    <td>{{ rate.created }}</td>
    <td>{{ rate.source }}</td>
    <td>{{ rate.type }}</td>
    <td><a href="/rate/details/{{ rate.id }}/">Details</a>
    <td><a href="/rate/update/{{ rate.id }}/">Update</a>
    <td><a href="/rate/delete/{{ rate.id }}/">Delete</a>
  </tr>
{% endfor %}
</table>
{% endblock %}
